<!DOCTYPE html>
<html>
<head>
  <title>Edit Student</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Edit Student</h1>
  <form action="/students/edit/<%= student._id %>" method="POST">
    <input type="text" name="name" value="<%= student.name %>" required><br>
    <input type="number" name="rollNumber" value="<%= student.rollNumber %>" required><br>
    <input type="email" name="email" value="<%= student.email %>" required><br>
    <input type="text" name="department" value="<%= student.department %>" required><br>
    <input type="number" step="0.01" name="gpa" value="<%= student.gpa %>" min="0" max="4"><br>
    <button type="submit">Update Student</button>
  </form>
</body>
</html>
